# What are variables?

A name (or way of storing a value) in your computer's memory

In this example, the variable name is `age` and it's value is `27`

In [4]:
age = 27

In [5]:
first_name = 'Paul'

In [6]:
print(first_name)
print(age)

Paul
27

Variable naming conventions:
* only have letters, digits, and underscore, NO SPACES
* variable names do NOT start with numbers
* python naming convention `each_word_separated_by_an_underscore`

# Updating a variable's value

When we re-assign the variable's value, it is REPLACED. The old value no longer exists

In [7]:
first_name = 'Aaron'

In [8]:
print(first_name)

Aaron

# Comments

In python, `#` is a comment - everything that on the same line is treated as a comment and not run as code

In [11]:
# always comment your code, explaining what is going on
print(first_name)

Aaron

# Primitive Data Types in Python

* Strings - 'text', character data
* Integers - whole numbers, no decimals
* Floats - numbers WITH decimals
* Booleans - True/False

In [12]:
type('Paul')

str

In [13]:
type(27)

int

In [14]:
type(27.0)

float

In [15]:
type(True)

bool

In [17]:
type("TRUE")

str

# Calculations in python

In [18]:
2+2.7

4.7

In [19]:
2 - 9

-7

In [20]:
4*8

32

In [21]:
4 / 3

1.3333333333333333

In [22]:
2**3

8

In [23]:
5**2

25

In [24]:
True + True

2

In [25]:
True + False

1

In [26]:
False * 8

0

In [27]:
True * 8

8

In [28]:
x = True

In [29]:
x

True

In [31]:
print(True + 5)

6

# String operations

Strings are TEXT data, they are always surrounded by either single or double quotes

In [32]:
"Paul"

'Paul'

In [35]:
'Paul'

'Paul'

The plus sign in python doesn't "add" strings at all per se, it "concatenates" them or smooshes them together

In [36]:
'Paul' + 'Alan'

'PaulAlan'

In [42]:
first_name = 'Paul'
last_name = 'Bloom'
full_name = first_name + last_name
print(full_name)

PaulBloom

In [38]:
'Paul' * 'Alan'

TypeError: can't multiply sequence by non-int of type 'str'

In [40]:
'Paul' - 'Alan'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

the asterisk with a string will not really multiply it, just print it out a whole bunch of times

In [43]:
'Paul' * 8

'PaulPaulPaulPaulPaulPaulPaulPaul'

# Slicing a string (or getting parts of a string out)

INDEXING IN PYTHON STARTS AT 0

In [44]:
my_string = 'PaulBloom'

In [47]:
my_string[2]

'u'

This will give string indices 0 up to but NOT including 4

In [48]:
my_string[0:4]

'Paul'

In [49]:
my_string[9]

IndexError: string index out of range

In [57]:
my_string[5:9]

'loom'

In [54]:
my_string[-1]

'm'

In [55]:
len(my_string)

9

In [56]:
len(first_name)

4

# Type conversion

In [61]:
# convert to an integer, use the int() function
myfloat = 4.999999999
int(myfloat)

4

In [63]:
# convert an integer to a float()
myint = 5
myfloat2 = float(myint)
print(myfloat2)
print(type(myfloat2))

5.0
<class 'float'>

In [64]:
int(2.6)

2

In [67]:
# use the str() to convert to a string
mystring2 = str(myfloat)
print(mystring2)
print(myfloat)

4.999999999
4.999999999

In [68]:
print(type(mystring2))
print(type(myfloat))

<class 'str'>
<class 'float'>

In [69]:
mystring2 + mystring2

'4.9999999994.999999999'

In [70]:
myfloat + myfloat

9.999999998

In [72]:
type(str(myint))

str

In [73]:
str(False)

'False'

In [74]:
type(str(False))

str

In [77]:
string3 = 'apple'
print(string3)

apple

In [79]:
print('apple')

apple

### converting strings to numeric data

with the `int()` function

In [81]:
x = '3'
int(x)

3

In [82]:
type(int(x))

int

In [86]:
y = '3.4'
#int(y)
print(float(y))

3.4

In [84]:
z = 'paul'
int(z)

ValueError: invalid literal for int() with base 10: 'paul'

In [89]:
v = float(y)

In [90]:
type(y)

str

In [91]:
type(v)

float

In [93]:
int(True)

1

In [94]:
int(False)

0

In [95]:
float('78.9')

78.9

In [97]:
float('78.9 hi y name is paul')

ValueError: could not convert string to float: '78.9 hi y name is paul'

TypeError: round() missing required argument 'number' (pos 1)

In [100]:
print(3,4,5)

3 4 5

In [103]:
round(45.87, 0)

46.0